html,
body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: #DDD;
}
#container {
  margin: 0 auto;
  width: 100%;
}
header {
  height: 25%;
  padding: 1%;
  margin: 0px auto;
}
nav {
  padding: 0px;
  position: relative;
  top:600%;
  left:12%
}
nav ul {
  padding: 10px;
  display: inline-block;
}
nav ul li {
  line-height: 2em;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  padding-right: 50px;
  padding-left: 5px;
  padding-bottom: 10px;
  border-left: 1px dotted #222;
  border-bottom: 5px solid #555;
}
nav ul li:first-child {
  vertical-align: bottom;
  line-height: 1em;
  border: none;
  padding: 0;
  font-size: 300%;
}
nav ul li:last-child {
  padding-right: 250px;
}
nav ul li .active {
  text-decoration: none;
  font-weight: bold;
  color: #222;
}
nav ul li a {
  text-decoration: none;
  color: #222;
  line-height: 5px;
  width: 40px;
}
section {
  position: relative;
  padding-top: 50px;
  width: 49%;
  left:22%
}
footer {
  padding-top: 50px;
  color: #FFF;
  text-align: center;
}
ex {
  background: #777;
}
